[submodule "dev/docs/doc-config"]
	path = dev/docs/doc-config
	url = git@github.com:duckling-lang/doc-config.git
[submodule "dev/docs/doxygen-awesome-css"]
	path = dev/docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
