# Don't commit things that start with `.`
.*

# We want all gitignores and github files
!.gitignore
!.github/

# Editor files:
.vscode/
compile_commands.json
package-lock.json
*.tsbuildinfo

!.devcontainer/
