# cmake:
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
Testing/
CTestTestfile.cmake
DartConfiguration.tcl
compile_commands.json
CMakeUserPresets.json

coverage/
coverage.info

# builds
/out/*build*/
/*build*/

# bin:
bin/
*.a
*.o
*.so
*.dll
*.exe

!.clang-format
!.clang-tidy
CLAUDE.local.md
