{% macro render_info_type(info_type, info_code='') -%}
    {%- set type_class = {
        'ERROR': 'error',
        'WARNING': 'warning',
        'NOTE': 'note',
        'HINT': 'hint',
        'DOCS': 'docs'
    }.get(info_type, 'note') -%}
    <span class="info-type info-type-{{ type_class }}">
        {{- info_type | lower -}}
        {%- if info_code and info_type in ['ERROR', 'WARNING'] -%}
            [{{ info_code }}]
        {%- endif -%}
    </span>
{%- endmacro %}

{% macro render_component(comp) -%}
    {%- if comp.WhichOneof('component') == 'code_component' -%}
        {%- set code = comp.code_component.content -%}
        {%- set tags = comp.code_component.hl_tags | list -%}
        {%- if tags -%}
            <span class="code" data-groups="{{ tags | join(' ') }}">{{- code -}}</span>
        {%- else -%}
            <span class="code">{{- code -}}</span>
        {%- endif -%}
    {%- elif comp.WhichOneof('component') == 'concat_component' -%}
        {%- for c in comp.concat_component.components -%}
            {%- if c.WhichOneof('component') == 'code_component' -%}<span class="code">{{- c.code_component.content -}}</span>{%- elif c.WhichOneof('component') == 'text_component' -%}{{- c.text_component.content -}}{%- else -%}{{- render_component(c) -}}{%- endif -%}
        {%- endfor -%}
    {%- elif comp.WhichOneof('component') == 'interactive_component' -%}
        {%- set ic = comp.interactive_component -%}
        <span class="clickable" onclick="handleClick(event, {{ ic.component_id }})">{{- render_component(ic.primary_component) -}}</span>
    {%- else -%}
        {{- 'Unknown component type: %s' | format(comp.WhichOneof('component')) | log_warning -}}
        {{- 'Component data: %s' | format(comp) | log_debug -}}
        <span class="unknown-component" title="Check logs for details">?</span>
    {%- endif -%}
{%- endmacro %}

{% macro render_nohl_component(comp) -%}
    {%- if comp.WhichOneof('component') == 'text_component' -%}
        {%- if comp.text_component.assoc_side_entries -%}
            {%- set side_entry = comp.text_component.assoc_side_entries[0] -%}
            <span class="clickable" onclick="handleSideInfo(event, {{ side_entry }})">{{- comp.text_component.content -}}</span>
        {%- else -%}
            <span>{{- comp.text_component.content -}}</span>
        {%- endif -%}
    {%- elif comp.WhichOneof('component') == 'code_component' -%}
        {%- if comp.code_component.assoc_side_entries -%}
            {%- set side_entry = comp.code_component.assoc_side_entries[0] -%}
            <span class="clickable code" onclick="handleSideInfo(event, {{ side_entry }})">{{- comp.code_component.content -}}</span>
        {%- else -%}
            <span class="code">{{- comp.code_component.content -}}</span>
        {%- endif -%}
    {%- elif comp.WhichOneof('component') == 'concat_component' -%}
        {%- for c in comp.concat_component.components -%}
            {%- if c.WhichOneof('component') == 'code_component' -%}<span class="code">{{- c.code_component.content -}}</span>{%- elif c.WhichOneof('component') == 'text_component' -%}{{- c.text_component.content -}}{%- else -%}{{- render_nohl_component(c) -}}{%- endif -%}
        {%- endfor -%}
    {%- elif comp.WhichOneof('component') == 'interactive_component' -%}
        {%- set ic = comp.interactive_component -%}
        <span class="clickable" onclick="handleClick(event, {{ ic.component_id }})">{{- render_nohl_component(ic.primary_component) -}}</span>
    {%- else -%}
        {{- 'Unknown NoHl component type: %s' | format(comp.WhichOneof('component')) | log_warning -}}
        {{- 'NoHl component data: %s' | format(comp) | log_debug -}}
        <span class="unknown-component" title="Check logs for details">?</span>
    {%- endif -%}
{%- endmacro %}

{% macro render_code_section(code_sec) -%}
    <div class="code-section">
        {%- if code_sec.metadata -%}
            <div class="code-metadata">
                {%- if code_sec.metadata.filename -%}{{- code_sec.metadata.filename -}}{%- endif -%}
                {%- if code_sec.metadata.line -%}:{{- code_sec.metadata.line -}}{%- endif -%}
                {%- if code_sec.metadata.column -%}:{{- code_sec.metadata.column -}}{%- endif -%}
            </div>
        {%- endif -%}
        {%- for line in code_sec.lines -%}
            <div class="code-line">
                <span class="lineno">{{- (line.line_number or '') | string | rjust(4) -}}</span>
                <div class="code-content">{{- render_component(line.content) -}}</div>
            </div>
            {%- if line.hl_messages -%}
                <div class="highlight-messages">
                    {%- for msg in line.hl_messages | sort(attribute='priority') -%}
                        <div class="highlight-message" data-groups="{{- msg.tags | join(' ') -}}">
                            {{- render_nohl_component(msg.message) -}}
                        </div>
                    {%- endfor -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endmacro %}

{% macro render_info(info) -%}
    <div class="info info-{{ info.type | lower }}">
        {%- if info.header -%}
            <div class="info-header">
                {{- render_info_type(info.type, info.code) -}}
                {{- render_nohl_component(info.header) -}}
            </div>
        {%- endif -%}
        {%- for section in info.sections -%}
            <div class="section">
                {%- if section.HasField('text_section') -%}
                    {{- render_nohl_component(section.text_section) -}}
                {%- elif section.HasField('code_section') -%}
                    {{- render_code_section(section.code_section) -}}
                {%- endif -%}
            </div>
        {%- endfor -%}
    </div>
{%- endmacro -%} 