{% from "macros/rendering.html" import render_component, render_nohl_component, render_code_section %}

<div class="side-note" id="side-{{ idx }}">
    {% for diag in note.diagnostics %}
        {% for sec in diag.sections %}
            <div class="section">
                {% if sec.HasField('text_section') %}
                    {{ render_component(sec.text_section.root) }}
                {% elif sec.HasField('no_hl_text_section') %}
                    {{ render_nohl_component(sec.no_hl_text_section.root) }}
                {% elif sec.HasField('code_section') %}
                    {{ render_code_section(sec.code_section) }}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <span class="clickable close-note" onclick="closeSide({{ idx }})">Close Note</span>
</div> 