{% macro render_nohl_component(comp) -%}
    {%- if comp is mapping -%}
        {# Handle processed sections #}
        <span class="text-component">{{- comp.content -}}</span>
    {%- else -%}
        {# Handle protobuf objects #}
        {%- set component_type = comp.WhichOneof('component') -%}
        {%- if component_type == 'text_component' -%}
            <span class="text-component" {%- if comp.text_component.component_id -%}onclick="handleComponentClick(event, {{- comp.text_component.component_id -}})" style="cursor: pointer;"{%- endif -%}>{{- comp.text_component.content -}}</span>
        {%- elif component_type == 'code_component' -%}
            <span class="code-component" {%- if comp.code_component.component_id -%}onclick="handleComponentClick(event, {{- comp.code_component.component_id -}})" style="cursor: pointer;"{%- endif -%}>{{- comp.code_component.content -}}</span>
        {%- elif component_type == 'concat_component' -%}
            <span class="concat-component">{%- for child in comp.concat_component.components -%}{{- render_nohl_component(child) -}}{%- endfor -%}</span>
        {%- elif component_type == 'interactive_component' -%}
            <span class="interactive-component" onclick="handleComponentClick(event, {{- comp.interactive_component.component_id -}})">{{- render_nohl_component(comp.interactive_component.primary_component) -}}</span>
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{% macro render_hl_component(comp) -%}
    {%- if comp is mapping -%}
        {# Handle processed sections #}
        <span class="code-component" data-tags="{{- comp.hl_tags | default('') | join(',') -}}">{{- comp.content -}}</span>
    {%- else -%}
        {# Handle protobuf objects #}
        {%- set component_type = comp.WhichOneof('component') -%}
        {%- if component_type == 'code_component' -%}
            <span class="code-component" data-tags="{{- comp.code_component.hl_tags | join(',') -}}" {%- if comp.code_component.component_id -%}onclick="handleComponentClick(event, {{- comp.code_component.component_id -}})" style="cursor: pointer;"{%- endif -%}>{{- comp.code_component.content -}}</span>
        {%- elif component_type == 'concat_component' -%}
            <span class="concat-component">{%- for child in comp.concat_component.components -%}{{- render_hl_component(child) -}}{%- endfor -%}</span>
        {%- elif component_type == 'interactive_component' -%}
            <span class="interactive-component" onclick="handleComponentClick(event, {{- comp.interactive_component.component_id -}})">{{- render_hl_component(comp.interactive_component.primary_component) -}}</span>
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{% macro render_code_section(section) -%}
    <div class="code-section">
        <div class="code-section-header">{{- section.metadata.filename -}}:{{- section.metadata.line -}}:{{- section.metadata.column -}}</div>
        <pre><code>{%- for line in section.lines -%}
{%- if line.line_number -%}<span class="line-number">{{- line.line_number -}}</span>{%- else -%}<span class="line-number"> </span>{%- endif -%}{{- render_hl_component(line.content) -}}&#10;{%- for message in section.get_messages_for_line(loop.index0) -%}
<div class="message-box type-{{- message.type -}}" data-tag="{{- message.tag -}}" onmouseover="highlightTag({{- message.tag -}})" onmouseout="unhighlightTag({{- message.tag -}})">{{- message.content -}}</div>&#10;{%- endfor -%}
{%- endfor -%}</code></pre>
    </div>
{%- endmacro -%}
